extend layout
block content
  .page-header
    h1= title

  form.col-sm-8.col-sm-offset-2(method="POST", enctype="multipart/form-data")
    h2 Election Details
    .form-group
      label.control-label(for='fld1') Election Name
      input.form-control(placeholder='Best Election', type='text', name='title', id='fld1')
    .form-group
      label.control-label(for='fld2') Slug 
      input.form-control(placeholder='best-election', type='text', name='slug', id='fld2')

    h2 Date and Time
    .row
      .form-group.col-sm-6
        label.control-label(for='startDate') Start Date
        .input-group
          input.form-control(placeholder='2014-12-31', type='date', name='startDate', id='startDate')
          span.input-group-btn
            button.btn.btn-primary.btn-start-date-today(type='button', style='width: 6em') Today
      .form-group.col-sm-6
        label.control-label(for='startTime') Start Time 
        .input-group
          input.form-control(placeholder='23:59', type='time', name='startTime', id='startTime')
          span.input-group-btn
            button.btn.btn-primary.btn-start-time-now(type='button', style='width: 6em') Now
    .row
      .form-group.col-sm-6
        label.control-label(for='endDate') End Date
        .input-group
          input.form-control(placeholder='2015-01-31', type='date', name='endDate', id='endDate')
          span.input-group-btn
            button.btn.btn-primary.btn-end-date-7days(type='button', style='width: 6em') +7 Days
      .form-group.col-sm-6
        label.control-label(for='endTime') End Time
        .input-group
          input.form-control(placeholder='23:59', type='time', name='endTime', id='endTime')
          span.input-group-btn
            button.btn.btn-primary.btn-end-time-6pm(type='button', style='width: 6em') 6:00 pm
    
    h2 Email
    .form-group
      label.control-label(for='fld-email1') From
      input.form-control(placeholder='Test Person (Organisation) <email@place.lol>', type='text', name='emailFrom', id='fld-email1')
    .form-group
      label.control-label(for='fld-email2') Subject
      input.form-control(placeholder='Voting Token Inside!', type='text', name='emailSubject', id='fld-email2')
    .form-group
      label.control-label(for='fld-email3') Body
      textarea.form-control(name='emailBody', id='fld-email3', rows='8').
        Dear person,

        Vote here: {url}

        Signed,
        Election Team
      .help-block Body must include the {url} token or people won't be able to access the voting page!
    .form-group
      label.control-label(for='fld-email4') Recipients
      textarea.form-control(placeholder='foo@bar.lol', name='emailRecipients', id='fld-email4', rows='8').
      .help-block One email address per line.

    h2 Required files
    .form-group
      label.control-label(for='fld-files') Form files (.tar.gz)
      input.form-control(type='file', name='tgzFile', id='fld-files')
      .help-block
        | This tarball must contain the following:
        ul
          li index.html (actual form)
          li success.html (page to go to when success occurs)
          li failure.html (page to go to when failure occurs)
          li static/ directory with all dependencies
        | A <base> tag will be injected in order to fix dependency links.
        | Please reference all deps from a relative "static" directory (no slash at the front).
    
    button.btn.btn-success(type='submit') Create Election

    hr

    script.
      $(".btn-start-date-today").on('click', function() {
          var date = new Date().toISOString().split("T")[0];
          $("#startDate")[0].value = date;
      });

      $(".btn-start-time-now").on('click', function() {
          var time = new Date();
          time = time.getHours() + ":" + time.getMinutes();
          $("#startTime")[0].value = time;
      });


      $(".btn-end-date-7days").on('click', function() {
          var date = new Date;
          date.setDate(date.getDate() + 7);
          date = date.toISOString().split("T")[0];
          $("#endDate")[0].value = date;
      });

      $(".btn-end-time-6pm").on('click', function() {
          $("#endTime")[0].value = "18:00";
      });
