doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
      | Stopgap | 
      = title
    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/bootstrap.min.js")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")

  body
    .container
      block content
