doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
      | Stopgap | 
      = title
    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/bootstrap.min.js")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")

  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#navbar-content")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin').
            Stopgap
        #navbar-content.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/elections').
                All Elections
            //li
            //  a(href='/elections/running').
            //    Running Elections
            //li
            //  a(href='/elections/closed').
            //    Closed Elections
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/admin/logout')
                i.glyphicon.glyphicon-log-out
                |  Logout
          .navbar-form.navbar-right
            a.btn.btn-success(href='/admin/elections/create')
              i.glyphicon.glyphicon-file
              |  Create Election
    .container
      block content
